/*登录窗体样式*/
.dialog-account-login table {
    margin: 20px;
}

.dialog-account-login table tr {
    height: 40px;
}

.dialog-account-login .editor-label {
}
.dialog-account-login .editor-field * {
    vertical-align:middle;
}
.dialog-account-login .editor-field .text-account, .text-password {
    width: 250px;
}

.dialog-account-login .editor-field .text-validcode {
    width: 100px;
}

.dialog-account-login .editor-field .img-validcode {
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.dialog-account-login .editor-field .a-refreshvalidcode {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}