@{
    Layout = null;
}

<div class="easyui-layout" data-options="fit: true">
    <div class="grid-category-list" data-options="region:'center', border:false">
        <table class="grid-table"></table>
    </div>
    @Scripts.Render("~/bundles/admin/category-list")
</div>