<div class="easyui-layout" data-options="fit: true">
    <div data-options="region:'center'">
        <h3 style="margin: 10px 5px;">欢迎使用荧屏（北京）电视技术有限公司系统</h3>
    </div>
    <div data-options="region:'south'" style="height:45px;">
        <p style="margin: 10px 5px;"><strong>温馨提示：</strong>本系统由《荧屏（北京）电视技术有限公司》开发，如果您在使用的过程中，遇到任何问题请联系010-51306898</p>
    </div>
</div>