/* account>login */
.header {
    margin-top: 30px;
    width: 320px;
    height: 50px;
    background: transparent url(/Images/login.png) no-repeat;
}

.form-login,
.form-register {
    padding: 40px 15px;
    width: 250px;
    margin: 0 auto;
}
.form-register .txt-validcode {
    width: 120px;
}.form-register .img-validcode {
     margin-left:5px;
    width: 60px;
    height:34px;
}
.form-register .btn-refresh-validcode
{
    margin-left:5px;
}


.footer {
    margin-top: 30px;
    width: 320px;
    height: 119px;
    background: transparent url(/Images/footer.png) no-repeat;
}
