@{
    ViewBag.Title = "罗莉盒微信--管理员登录";
}

<div class="dialog-account-login">
    @using (Html.BeginForm("login", "account", new { backurl = Request["backurl"] }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="editor-label"><label>帐　号：</label></td>
                <td class="editor-field"><input class="input text-account" name="Account" type="text" maxlength="20" /></td>
            </tr>
            <tr>
                <td class="editor-label"><label>密　码：</label></td>
                <td class="editor-field"><input class="input text-password" name="Password" type="password" maxlength="16" /></td>
            </tr>
            <tr>
                <td class="editor-label"><label>验证码：</label></td>
                <td class="editor-field">
                    <input class="input text-validcode" name="ValidCode" type="text" maxlength="4" />
                    <img class="img-validcode" alt="验证码" />
                    <a class="a-refreshvalidcode" href="javascript:void(0);">看不清？换一张</a>
                </td>
            </tr>
        </table>
    }
</div>
@section Styles{
    @Styles.Render("~/Content/admin/account-login")
}
@section Scripts{
    @Scripts.Render("~/bundles/admin/account-login")
}